/.DS_Store
/Frontend/node_modules
/ChatBot/__pycache__
/ChatBot/config.py
/ChatBot/.DS_Store
/Frontend/src/FirebaseSetup
/Backend/Backend/settings.py
/Backend/chatbot/config.py
/Backend/chatbot/__pycache__
/Backend/Backend/__pycache__
/Backend/Backend/settings.py
/Backend/venv
Backend/chatbot/migrations/__pycache__/__init__.cpython-311.pyc
.vscode/settings.json
