.chat-container {
    background-color: #eee;
    height: 100%;
    position: relative;
    width: 100%;
}

.chat-wrapper {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.chat-message-container {
    margin: 0px;
    padding: 10px;
    position: relative;
    max-height: 88vh; /* to do properly */
    overflow: scroll;
}

.chat-message-container-padding-desktop {
    position: relative;
    width: 80%;
    left: 10%;
}

.chat-message-container-padding-mobile {
    width: 100%;
}