.current-weather-wrapper {
    padding: 2px;
    /* display: flex;
    flex-direction: row-reverse; */
}

.current-weather-container {
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    width: 60%;
    max-width: 60%;
    text-align: left;
    margin: 0px;
    padding: 10px 15px;
    color: rgb(47, 57, 65);
    /* padding: 2px; */
}

.current-weather-city-name {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    color: rgb(47, 57, 65);
}

.current-weather-icon {
    width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.current-weather-temperature {
    font-size: 120px;
    margin: 0px;
    padding: 0px;
    color: rgb(47, 57, 65);
}

.current-weather-horizontal-line {
    border: 1px solid rgba(153, 153, 153, 0.4);
    border-radius: 0.5px;
    margin: 5px;
    padding: 0px;
}

.current-weather-forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.current-weather-uv-icon {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.current-weather-uv {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color: rgb(47, 57, 65);
}