.message-text-wrapper {
    background-color: #2563eb;
    width: fit-content;
    text-align: left;
    margin: 0px;
    color: white;
}

.message-text {
    margin: 0px;
}

.message-wrapper {
    padding: 2px;
}

.message-wrapper-is-user {
    padding: 2px;
    display: flex;
    flex-direction: row-reverse;
}