.single-contact-container {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18%;
    width: 100%;
    height: 100%;
}

.single-contact-main-info-container, .single-contact-photo-container, .single-contact-description, .single-contact-work-done {
    margin: 0px;
}

.single-contact-photo {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.single-contact-name {
    font-size: 2.5rem;
    margin: 0px
}

.single-contact-links {
    height: 100px;
    display: flex;
}

.single-contact-links div {
    height: 30px;
    width: 30px;
    margin: 15px 6px;
    background-color: rgb(47, 57, 65);
}

.single-contact-links img {
    height: 30px;
    width: 30px;
    margin: 15px 6px;
}

.github-logo {
    -webkit-mask: url(../Resources/github.svg) no-repeat center;
    mask: url(../Resources/github.svg) no-repeat center;
}

.linkedin-logo {
    -webkit-mask: url(../Resources/linkedin.svg) no-repeat center;
    mask: url(../Resources/linkedin.svg) no-repeat center;
}

.portfolio-logo {
    -webkit-mask: url(../Resources/online-resume.png) no-repeat center;
    mask: url(../Resources/online-resume.png) no-repeat center;
}

.mail-logo {
    -webkit-mask: url(../Resources/mail.svg) no-repeat center;
    mask: url(../Resources/mail.svg) no-repeat center;
}